@import url("reset.css");

body{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #fc0000;
}
/* header */
.header {
  background-color: #0a0a0a;
  padding: 20px 0;
  font-size: 20px;
    line-height: 24px;
  font-weight: 300;
  Color: #86868b;
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 12px;
}

.nav {
display: flex;
justify-content: space-between;
align-items: center;
}

.menu {
  display: flex;
}

.menu-iten {
  padding-right: 30px;
}

/* headline */
.headline {
  display: flex;
  font-size: 64px;
    line-height: 100px;
    font-weight: 400;
  background-color: #101010;
  color: #f5f5f7;
  padding-top: 100px;
  align-items: center;
}
.headline-text {
  font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    Color: #86868b;
    display: flex;
}