*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
}

/* input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
} */

/* input,
textarea {
	width: 100%;
} */

/* button,
select,
option {
	cursor: pointer;
} */
button {
	cursor: pointer;
}

/* input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
	appearance: none;
} */

/* ================================ */
body {
	line-height: 1;
	font-family: Manrope;
	color: #333333;
}
/* ================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.title {
	font-size: 40px;
	line-height: 1.35;
	font-weight: 600;
}
.title__center {
	text-align: center;
}
@media (max-width: 767.98px) {
	.title {
		font-size: 30px;
	}
}
/* ================================ */
.simple-rating {
	position: relative;
	font-size: 24px;
	display: inline-block;
}

.simple-rating::before {
	content: '★★★★★';
	display: block;
}

.simple-rating__items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}

.simple-rating__item {
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	top: 0;
	left: 0;
}

.simple-rating__label {
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: #f0dbbb;
}

.simple-rating__label::before {
	content: '★';
	display: block;
	transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
	color: #fbb040;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
	color: #ffef9f;
}

/* ================================ */
.page {
	flex: 1 1 auto;
}
/* ================================ */
[class*='__container'] {
	max-width: 1170px;
	margin: 0 auto;
}
/* ================================ */
@media (max-width: 1199.98px) {
	[class*='__container'] {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	[class*='__container'] {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	[class*='__container'] {
		max-width: none;
		padding: 0px 15px;
	}
}
/* ================================ */
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.header__container {
	display: flex;
	justify-content: space-between;
	min-height: 103px;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	column-gap: 10px;
	row-gap: 15px;
}

@media (max-width: 767.98px) {
	.header__container {
		min-height: 0;
		flex-direction: column;
	}
}

.header__logo {
	font-size: 23px;
	line-height: 1.35;
	font-weight: 800;
	color: #1d1d1f;
}
/* .header__menu {
} */
/* ================================ */
/* .menu {
} */
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 44px;
	row-gap: 12px;
}
/* .menu__item {
} */
.menu__link {
	font-size: 13px;
	line-height: 1.35;
	font-weight: 700;
}
.menu__link:hover {
	text-decoration: underline;
}

@media (max-width: 767.98px) {
	.menu__list {
		justify-content: center;
	}
	.menu__link {
		font-size: 17px;
	}
}
/* ================================ */
.main-block {
	padding-bottom: 110px;
}
/* ================================ */
.main-block__container {
	padding-top: 183px;
	position: relative;
}
.main-block__container::after {
	content: '';
	background-color: #bdccff;
	position: absolute;
	width: 200%;
	top: 0;
	left: 68%;
	height: 100%;
}
/* ================================ */
.main-block__body {
	margin-bottom: 14px;
}
.main-block__partners {
}
/* ================================ */
.body-main-block {
	position: relative;
	display: flex;
	align-items: flex-start;
}
.body-main-block__content {
	flex: 0 1 50%;
}
/* ================================ */
.content-main-block {
	padding-top: 40px;
	position: relative;
	z-index: 2;
}
.content-main-block__body {
	padding-right: 80px;
}
.content-main-block__sub-title {
	text-transform: uppercase;
	font-size: 22px;
	line-height: 1.35;
	font-weight: 700;
	color: #c24536;
	margin-bottom: 20px;
}
.content-main-block__title {
	font-size: 54px;
	line-height: 1.35;
	font-weight: 800;
	margin-bottom: 20px;
}
.content-main-block__text {
	font-size: 17px;
	line-height: 1.35;
	margin-bottom: 45px;
}
/* ================================ */
.form-main-block {
	position: relative;
	z-index: 2;
	display: flex;
	margin-right: -188px;
	background: #fff url('../img/main/search.svg') 32px 32px no-repeat;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.form-main-block:hover {
	background: #fff url('../img/main/search-h.svg') 32px 32px no-repeat;
}
.form-main-block__input {
	height: 86px;
	border: 1px solid #dadada;
	padding: 0 0 0 74px;
	background-color: transparent;
	width: 100%;
	font-size: 20px;
	line-height: 1.35;
	flex: 1 1 auto;
}
.form-main-block__input::placeholder {
	color: #c1c2c4;
}

.form-main-block__button {
	height: 86px;
	font-size: 17px;
	line-height: 1.35;
	font-weight: 600;
	width: 188px;
	flex: 0 0 188px;
	color: #fff;
	padding: 5px 15px;
	background-color: #f85a47;
	transition: all 0.3s ease 0s;
}
.form-main-block__button:hover {
	background-color: #c24536;
}
/* ================================ */
.body-main-block__slider {
	flex: 0 1 50%;
	min-width: 0;
}
.slider-main-block {
}
.slider-main-block__wrapper {
}
.slider-main-block__slide {
	position: relative;
	padding-bottom: 95%;
}
.slider-main-block__slide img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* ================================ */
.partners-main-block {
	max-width: 65%;
}
.partners-main-block__label {
	font-size: 17px;
	margin-bottom: 25px;
}
.partners-main-block__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
}
.partners-main-block__item {
}
.partners-main-block__item img {
	max-width: 100%;
}
/* ================================ */
@media (max-width: 1199.98px) {
	.main-block__container {
		padding-top: 100px;
		padding-bottom: 30px;
	}
	.content-main-block__body {
		padding-right: 0px;
	}
	.body-main-block {
		display: block;
	}
	.form-main-block {
		margin-right: 0;
	}
	.body-main-block__content {
		margin-bottom: 40px;
	}
	.main-block__body {
		margin-bottom: 40px;
	}
	.partners-main-block {
		position: relative;
		z-index: 2;
		max-width: none;
	}
}
@media (max-width: 991.98px) {
	.main-block {
		padding-bottom: 70px;
	}
}
@media (max-width: 767.98px) {
	.partners-main-block__items {
		justify-content: center;
	}
	.content-main-block__title {
		font-size: 40px;
	}
	.form-main-block {
		display: block;
	}
	.form-main-block__button {
		width: 100%;
	}
	.main-block {
		padding-bottom: 30px;
	}
}

@media (max-width: 479.98px) {
	.form-main-block,
	.form-main-block:hover {
		background: #fff;
	}

	.form-main-block__input {
		padding: 0 12px;
		height: 64px;
		font-size: 17px;
	}
	.form-main-block__button {
		height: 64px;
	}
}
/* ================================ */
.haw {
	padding-top: 110px;
	padding-bottom: 110px;
}
@media (max-width: 991.98px) {
	.haw {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
@media (max-width: 767.98px) {
	.haw {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.haw__container {
}
.how__title {
	margin-bottom: 50px;
}
.how__items {
	display: grid;
	align-items: start;
	grid-template-columns: repeat(3, minmax(auto, 260px));
	column-gap: 30px;
	row-gap: 45px;
	justify-content: space-between;
}
@media (min-width: 992px) {
	.how__items {
		padding: 0 35px;
	}
}
.how__item {
}
.item-how {
	text-align: center;
	display: grid;
	justify-items: center;
	position: relative;
}
.item-how::after {
	content: '';
	position: absolute;
	right: 0;
	top: 41px;
	transform: translate(88%, 0px);
	width: 210px;
	height: 11px;
}
.item-how__violet::after {
	background: url('../img/haw/border-l.svg') 0 0 / 100% no-repeat;
}
.item-how__aqua::after {
	background: url('../img/haw/border-r.svg') 0 0 / 100% no-repeat;
}
.item-how__fuchsia::after {
	display: none;
}
.item-how__violet .item-how__icon {
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	background-color: #9672ff;
}
.item-how__aqua .item-how__icon {
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	background-color: #4ddffd;
}
.item-how__fuchsia .item-how__icon {
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	background-color: #f2b8ec;
}
.item-how__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 90px;
	margin-bottom: 50px;
	border-radius: 20px;
}
.item-how__title {
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 600;
}
.item-how__text {
	font-size: 17px;
	line-height: 1.62;
}
/* ================================ */
@media (max-width: 1199.98px) {
	.item-how::after {
		width: 170px;
		transform: translate(67.5%, 0px);
	}
}
@media (max-width: 991.98px) {
	.item-how::after {
		width: 100px;
		transform: translate(66%, 0px);
	}
}
@media (max-width: 767.98px) {
	.how__items {
		grid-template-columns: 1fr;
	}
	.item-how::after {
		display: none;
	}
	.item-how__icon {
		margin-bottom: 20px;
	}
	.how__title {
		margin-bottom: 30px;
	}
}
/* ================================ */
.deals {
	padding-top: 110px;
	padding-bottom: 110px;
}
@media (max-width: 991.98px) {
	.deals {
		padding-bottom: 70px;
		padding-top: 70px;
	}
}
@media (max-width: 767.98px) {
	.deals {
		padding-bottom: 30px;
		padding-top: 30px;
	}
}

.deals__container {
}
.deals__header {
	margin-bottom: 50px;
}
.deals__tabs {
}
/* ================================ */
.header-deals {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	align-items: center;
}
.header-deals__content {
	flex: 1 1 auto;
}
.header-deals__title {
	margin-bottom: 20px;
}

.header-deals__text {
	font-size: 17px;
	line-height: 1.35;
	max-width: 470px;
}
.header-deals__link {
	font-size: 17px;
	line-height: 1.35;
	font-weight: 600;
	background-color: #f85a47;
	display: inline-block;
	text-align: center;
	color: #fff;
	padding: 20px 32px;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
}
.header-deals__link:hover {
	background-color: #c24536;
}

@media (max-width: 767.98px) {
	.header-deals__link {
		width: 100%;
	}
}

/* ================================ */
.tabs-deals {
}
.tabs-deals__nav {
	display: flex;
	column-gap: 50px;
	row-gap: 10px;
	flex-wrap: wrap;
	margin-bottom: 35px;
}
.tabs-deals__button {
	font-size: 19px;
	line-height: 1.35;
	position: relative;
	transition: color 0.3s ease 0s;
	background-color: transparent;
}

.tabs-deals__button::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0px;
	height: 1px;
	transition: width 0.3s ease 0s;
	background-color: #c24536;
}

.tabs-deals__button:hover {
	color: #c24536;
}
.tabs-deals__button:hover::after {
	width: 100%;
}
.tabs-deals__button.active {
	color: #c24536;
}
.tabs-deals__button.active::after {
	width: 100%;
}

.tabs-deals__body {
}
.tabs-deals__item {
	display: none;
}
.tabs-deals__item.active {
	display: block;
}

/* ================================ */
.item-tabs {
}
.item-tabs__items {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.item-tabs__item {
	position: relative;
}
.item-tabs__options {
	position: absolute;
	left: 14px;
	top: 14px;
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	z-index: 2;
}
.item-tabs__option {
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid #fff;
	color: #fff;
	padding: 6px 12px;
	border-radius: 5px;
	transition: all 0.3s ease 0s;
}
.item-tabs__option:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
.item-tabs__image {
	position: relative;
	display: block;
	padding-bottom: 81%;
	border-radius: 5px;
	overflow: hidden;
}
.item-tabs__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	transition: all 0.3s ease 0s;
}
.item-tabs__image:hover img {
	transform: scale(1.1);
}
/* ================================ */
.featured {
	padding-top: 110px;
	padding-bottom: 110px;
}
@media (max-width: 991.98px) {
	.featured {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
@media (max-width: 767.98px) {
	.featured {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.featured__container {
}
.featured__title {
	margin-bottom: 20px;
}

.featured__body {
	/* background-color: #f1ffff; */
	background-color: #bdccff;
	padding: 40px 40px 80px;
	display: grid;
	column-gap: 77px;
	row-gap: 40px;
	grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 991.98px) {
	.featured__body {
		display: flex;
		flex-direction: column-reverse;
	}
}
@media (max-width: 767.98px) {
	.featured__body {
		margin: 0 -15px;
		padding: 20px 15px;
	}
}

.featured__images {
}
.featured__content {
	display: flex;
	flex-direction: column;
}

.images-featured {
	display: grid;
	justify-items: center;
}
.images-featured__item {
}
.images-featured__item img {
	max-width: 100%;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.images-featured__item-bottom {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: -114px;
}

.content-featured {
}
.content-featured__body {
	flex: 1 1 auto;
}

.content-featured__title {
	font-size: 30px;
	line-height: 1.35;
	font-weight: 600;
	margin-bottom: 25px;
}
@media (max-width: 767.98px) {
	.content-featured__title {
		font-size: 22px;
	}
}
.content-featured__text {
	line-height: 1.35;
	margin-bottom: 40px;
}
.content-featured__options {
	display: grid;
	gap: 35px;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 55px;
}

@media (max-width: 479.98px) {
	.content-featured__options {
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 35px;
	}
}

.content-featured__link {
	font-size: 17px;
	line-height: 1.35;
	font-weight: 600;
	display: block;
	color: #fff;
	text-align: center;
	background-color: #f85a47;
	padding: 20px 32px;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	border-radius: 5px;
	transition: width 0.3s ease 0s;
}

.content-featured__link:hover {
	background-color: #c24536;
}

.options-content-featured {
}
.options-content-featured__item {
}
.options-content-featured__label {
	font-size: 17px;
	line-height: 1.35;
	font-weight: 700;
	margin-bottom: 12px;
}
.options-content-featured__value {
	font-size: 17px;
	line-height: 1.35;
}

@media (min-width: 992px) {
	.content-featured__body {
		padding-top: 40px;
		max-width: 412px;
	}
	.content-featured__link {
		max-width: 412px;
	}
}
/* ================================ */
.reviews {
	padding-top: 110px;
	padding-bottom: 110px;
}
@media (max-width: 991.98px) {
	.reviews {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
@media (max-width: 767.98px) {
	.reviews {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.reviews__container {
}
.reviews__title {
	margin-bottom: 20px;
	max-width: 570px;
}

.reviews__items {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.reviews__item {
}

.item-reviews {
	padding: 50px 40px;
	background-color: #fff;
	border: 1px solid #dadada;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	transition: all 0.3s ease 0s;
}
.item-reviews:hover {
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px;
}

.item-reviews__raiting {
	margin-bottom: 33px;
}

.item-reviews__text {
	line-height: 1.35;
	margin-bottom: 50px;
}
.item-reviews__autor {
}

.autor-item-reviews {
	display: flex;
	gap: 20px;
	align-items: center;
}
.autor-item-reviews__avatar {
	flex: 0 0 48px;
	border-radius: 50%;
	overflow: hidden;
}
.autor-item-reviews__body {
}
.autor-item-reviews__name {
	font-size: 17px;
	font-weight: 700;
	line-height: 1.35;
}
.autor-item-reviews__location {
	font-size: 14px;
	line-height: 1.35;
	color: #666666;
}

.reviews__footer {
	padding-top: 85px;
}

.footer-reviews {
	display: flex;
	column-gap: 100px;
	row-gap: 30px;
}
@media (max-width: 991.98px) {
	.footer-reviews {
		flex-wrap: wrap;
	}
}

.footer-reviews__partners {
	flex: 1 1 auto;
}

.partners-footer-reviews {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}
.partners-footer-reviews__item {
}
.footer-reviews__info {
	flex: 0 0 300px;
	font-size: 17px;
	line-height: 1.35;
}
.footer-reviews__info a {
	color: #0000ff;
	text-decoration: underline;
}
.footer-reviews__info a:hover {
	text-decoration: none;
}
/* ================================ */
.subscribe {
	background-color: #bdccff;
	padding-top: 110px;
	padding-bottom: 110px;
}
@media (max-width: 991.98px) {
	.subscribe {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
@media (max-width: 767.98px) {
	.subscribe {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
/* ================================ */
.subscribe__container {
}
.subscribe__header {
	text-align: center;
}
.subscribe__title {
	margin-bottom: 20px;
}
.subscribe__sub-title {
	font-size: 30px;
	line-height: 1.35;
	font-weight: 600;
	margin-bottom: 25px;
}
@media (max-width: 767.98px) {
	.subscribe__sub-title {
		font-size: 22px;
	}
}
.form-subscribe {
	display: flex;
	max-width: 686px;
	margin: 0 auto;
	background: #fff url('../img/subscribe/email.svg') 32px 32px no-repeat;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.form-subscribe:hover {
	background: #fff url('../img/subscribe/email-h.svg') 32px 32px no-repeat;
}

.form-subscribe__input {
	height: 86px;
	border: 1px solid #dadada;
	padding: 0 0 0 74px;
	background-color: transparent;
	width: 100%;
	font-size: 20px;
	line-height: 1.35;
	flex: 1 1 auto;
}
.form-subscribe__input::placeholder {
	color: #c1c2c4;
}

.form-subscribe__button {
	height: 86px;
	font-size: 17px;
	line-height: 1.35;
	font-weight: 600;
	width: 188px;
	flex: 0 0 188px;
	color: #fff;
	padding: 5px 15px;
	background-color: #f85a47;
	transition: all 0.3s ease 0s;
}
.form-subscribe__button:hover {
	background-color: #c24536;
}
/* ======r=e=s=p=o=n=s=i=v=e======= */
@media (max-width: 767.98px) {
	.form-subscribe {
		display: block;
	}
	.form-subscribe__button {
		width: 100%;
	}
}

@media (max-width: 479.98px) {
	.form-subscribe,
	.form-subscribe:hover {
		background: #fff;
	}

	.form-subscribe__input {
		padding: 0 12px;
		height: 64px;
		font-size: 17px;
	}
	.form-subscribe__button {
		height: 64px;
	}
}
/* ================================ */
.footer__container {
	display: grid;
	padding-top: 60px;
	padding-bottom: 60px;
	grid-template-columns: auto 1fr;
	row-gap: 60px;
	column-gap: 20px;
}

@media (max-width: 991.98px) {
	.footer__container {
		padding-top: 30px;
		padding-bottom: 30px;
		grid-template-columns: 1fr;
		justify-items: center;
		row-gap: 30px;
	}
}

.footer__logo {
	font-size: 23px;
	line-height: 1.35;
	font-weight: 800;
	color: #1d1d1f;
}
.footer__menu {
	display: flex;
	justify-content: flex-end;
}

.menu-footer__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 44px;
	row-gap: 12px;
}
.menu-footer__link {
	font-size: 13px;
	line-height: 1.35;
	font-weight: 700;
}
.menu-footer__link:hover {
	text-decoration: underline;
}

.footer__copyright {
	padding-top: 12px;
	border-top: 1px solid #dadada;
	font-size: 12px;
	line-height: 1.35;
	font-weight: 600;
	text-align: center;
}

.footer__copyright a:hover {
	text-decoration: underline;
}
@media (min-width: 992px) {
	.footer__copyright {
		grid-column: span 2;
	}
}
/* ================================ */
.social {
	position: fixed;
	top: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	right: 20px;
	transform: translate(0px, -50%);
	z-index: 100;
}
@media (max-width: 991.98px) {
	.social {
		display: none;
	}
}
/* ================================ */
